.test__header{
  color: black;
  font-style: italic;
  margin-left: 50px;
}
.test__title{
  display: flex;
  justify-content: center;

}
.test__rink{
  color: black;
  text-decoration: none;
  font-size: large;
  margin: 60px 30px
}

.test__button-form{
  display: flex;
  justify-content: center;
  margin: 30px 30px
}

.test__button{
  cursor: pointer;
  margin: 30px 30px
}
.text2,.text3{
  border-style: solid;
  font-size: 50px;
  padding: 20px;
  background: blue;
  margin: 30px;
}
.text{
  padding: 20px 40px;
  border-style: solid;
  font-size: 50px;
  background: blue;
  margin: 30px;
}
.search-form__item{
  padding: 30px;
}
.search-form__item-select{
  padding: 0 50px;
  font-family: serif;
}
